#chat {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
#chat #incoming {
  height: 80%;
  background: #666;
  overflow-y: scroll;
}
#chat #incoming ul {
  width: 100%;
  color: #fff;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#chat #incoming ul li img {
  display: inline-block;
  width: 20%;
}
#chat form {
  display: flex;
  justify-content: space-around;
}
