@import "/public/_sty/reset.css";
@font-face {
  font-family: Roboto;
  src: url("/public/_fnt/Roboto-Regular.ttf");
}
html,
body {
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header,
section,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
header,
footer {
  height: 10%;
  background: #808080;
}
section {
  flex-direction: column;
  height: 80%;
  background: #fdfdfd;
}
section div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
section div imgfirst-child {
  display: none;
}
footer {
  background: #d3d3d3;
}
