body {
  height: 600px;
  display: flex;
  flex-direction: column;
}
header,
section,
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1280px;
}
header,
footer {
  height: 20%;
}
header {
  background: #d70270;
}
section {
  height: 60%;
  background: #fdfdfd;
}
footer {
  background: #ffc0cb;
}
