extends layout
block metastuff
	link(rel="stylesheet" type="text/css" href="/public/_sty/chat.css")
block content
	div(id="chat")
		div(id="incoming")
			ul(id="messages")
		form(id="chatForm")
			input(id="textfield" type="text")
			input(type="submit" value="Send")
block footer
	script(src="/socket.io/socket.io.js")
	script(src="/public/_scr/chat-client.js")
