extends layout
block metastuff
	link(rel="stylesheet" type="text/css" href="/public/_sty/chat.css")
block content
	div(id="chat")
		div(id="incoming")
		form
			input(id="textfield" type="text")
			button Send
