doctype html
html
	head
		title xKoot
		link(rel="stylesheet" type="text/css" href="/public/_sty/master.css")
		block metastuff
	body
		header
			block header
		section
			block content
		footer
			block footer
