#chat
	width 50%
	height 50%
	display flex
	flex-direction column
	#incoming
		height 80%
		background #666
		overflow-y scroll
		ul
			width 100%
			color white
			list-style-type none
			text-align left
			display flex
			flex-direction column
			align-items flex-start
			li
				img
					display inline-block
					width 20%
	form
		label
			display flex
			height 10
		display flex
		justify-content space-around
	#chatConnection
		flex-direction column
		align-items center
		label

			width 100%
			justify-content space-between
